<aside
  id="home_sidebar"
  class="fixed top-0 left-0 w-64 h-screen"
  aria-label="sidebar"
>
  <div
    class="h-full px-3 pt-0 overflow-y-auto bg-white shadow-zinc-400 dark:bg-gray-800 no-scrollbar"
  >
    <a href="#" class="flex items-center p-3 space-x-3 rtl:space-x-reverse">
      <img src="assets/social-logo.png" class="h-8" alt="Logo" />
      <span
        class="self-center text-4xl font-bold whitespace-nowrap dark:text-white"
        >Social <sup class="text-sm text-gray-300">v1.0.0</sup></span
      >
    </a>

    <div
      class="mt-5 flex gap-3 border-[1px] border-w border-solid border-gray-200 bg-gray-100 rounded-lg p-2"
    >
      <div class="h-12 w-12 rounded-full">
        <img
          src="assets/profile/asm.jpg"
          class="h-[100%] w-[100%] rounded-full"
        />
      </div>
      <div class="flex flex-col">
        <span class="font-medium text-slate-700">Anand Saurabh</span>
        <span class="font-thin text-sm text-gray-400">@anandsaurabh1234</span>
      </div>
    </div>
    <ul class="space-y-2 font-medium mt-4 flex flex-col gap-5">
      <li class="h-6">
        <a
          href="#"
          class="flex items-center px-1 py-0 text-blue-400 rounded-lg dark:text-white hover:text-blue-400 bg-blue-50 dark:hover:bg-blue-700 group"
        >
          <i class="fas fa-home h-4 w-4 mx-3"></i>
          <span class="m-3 mx-2">Home</span>
        </a>
      </li>
      <li class="h-6">
        <a
          href="#"
          class="flex items-center px-1 py-0 text-gray-500 rounded-lg dark:text-white hover:text-blue-400 hover:bg-blue-50 dark:hover:bg-blue-700 group"
        >
          <i class="fas fa-user-alt h-4 w-4 mx-3"></i>
          <span class="m-3 mx-2">Profile</span>
        </a>
      </li>
    </ul>
    <div class="mt-7">
      <span class="p-1 text-gray-400">SOCIAL</span>
    </div>
    <ul class="space-y-2 font-medium mt-4 flex flex-col gap-3">
      <li class="h-6">
        <a
          href="#"
          class="flex items-center px-1 py-0 text-gray-500 rounded-lg dark:text-white hover:text-blue-400 hover:bg-blue-50 dark:hover:bg-blue-700 group"
        >
          <i class="fas fa-swatchbook h-4 w-4 mx-3"></i>
          <span class="m-3 mx-2">Feed</span>
        </a>
      </li>
      <li class="h-6">
        <a
          href="#"
          class="flex items-center px-1 py-0 text-gray-500 rounded-lg dark:text-white hover:text-blue-400 hover:bg-blue-50 dark:hover:bg-blue-700 group"
        >
          <i class="fas fa-briefcase h-4 w-4 mx-3"></i>
          <span class="m-3 mx-2">Jobs</span>
        </a>
      </li>
      <li class="h-6">
        <a
          href="#"
          class="flex items-center px-1 py-0 text-gray-500 rounded-lg dark:text-white hover:text-blue-400 hover:bg-blue-50 dark:hover:bg-blue-700 group"
        >
          <i class="fas fa-user-friends h-4 w-4 mx-3"></i>
          <span class="m-3 mx-2">Friends</span>
        </a>
      </li>
      <li class="h-6">
        <a
          href="#"
          class="flex items-center px-1 py-0 text-gray-500 rounded-lg dark:text-white hover:text-blue-400 hover:bg-blue-50 dark:hover:bg-blue-700 group"
        >
          <i class="fas fa-network-wired h-4 w-4 mx-3"></i>
          <span class="m-3 mx-2">Connections</span>
        </a>
      </li>
      <li class="h-6">
        <a
          href="#"
          class="flex items-center px-1 py-0 text-gray-500 rounded-lg dark:text-white hover:text-blue-400 hover:bg-blue-50 dark:hover:bg-blue-700 group"
        >
          <i class="fas fa-calendar-alt h-4 w-4 mx-3"></i>
          <span class="m-3 mx-2">Events</span>
        </a>
      </li>
      <li class="h-6">
        <a
          href="#"
          class="flex items-center px-1 py-0 text-gray-500 rounded-lg dark:text-white hover:text-blue-400 hover:bg-blue-50 dark:hover:bg-blue-700 group"
        >
          <i class="fas fa-globe h-4 w-4 mx-3"></i>
          <span class="m-3 mx-2">Marketplace</span>
        </a>
      </li>
    </ul>
    <div class="mt-7">
      <span class="p-1 text-gray-400">COMPANIES YOU FOLLOW</span>
    </div>
    <ul class="space-y-2 font-medium mt-4 flex flex-col gap-2">
      <li class="h-6">
        <a
          href="#"
          class="flex items-center px-1 py-0 text-gray-500 rounded-lg dark:text-white hover:text-blue-400 hover:bg-blue-50 dark:hover:bg-blue-700 group"
        >
          <span
            class="mx-3 w-6 h-6 bg-pink-500 font-normal text-md text-center text-white rounded-md"
            >G</span
          >
          <span class="m-3 mx-2 text-sm">Google</span>
          <span
            class="bg-red-500 rounded-lg text-white text-center ms-auto text-[10px] px-1"
            >100</span
          >
        </a>
      </li>
      <li class="h-6">
        <a
          href="#"
          class="flex items-center px-1 py-0 text-gray-500 rounded-lg dark:text-white hover:text-blue-400 hover:bg-blue-50 dark:hover:bg-blue-700 group"
        >
          <span
            class="mx-3 w-6 h-6 bg-green-500 font-normal text-md text-center text-white rounded-md"
            >SB</span
          >
          <span class="m-3 mx-2 text-sm">Starbuck</span>
          <span
            class="bg-red-500 rounded-lg text-white text-center ms-auto text-[10px] px-1"
            >15</span
          >
        </a>
      </li>
      <li class="h-6">
        <a
          href="#"
          class="flex items-center px-1 py-0 text-gray-500 rounded-lg dark:text-white hover:text-blue-400 hover:bg-blue-50 dark:hover:bg-blue-700 group"
        >
          <span
            class="mx-3 w-6 h-6 bg-blue-500 font-normal text-md text-center text-white rounded-md"
            >CC</span
          >
          <span class="m-3 mx-2 text-sm">Cocacola</span>
          <span
            class="bg-red-500 rounded-lg text-white text-center ms-auto text-[10px] px-1"
            >678</span
          >
        </a>
      </li>
      <li class="text-end">
        <span
          ><a
            class="text-xs text-gray-500 underline hover:text-blue-500 cursor-pointer"
            >View all</a
          ></span
        >
      </li>
    </ul>
  </div>
</aside>
