<div class="flex h-auto p-1 flex-col rounded-xl shadow-sm bg-white w-[600px]">
  <div class="border-gray-100 flex gap-3 rounded-lg p-2">
    <div class="h-10 w-10 rounded-full">
      <img
        src="assets/profile/asm.jpg"
        class="h-[100%] w-[100%] rounded-full"
      />
    </div>
    <div class="flex flex-col">
      <span class="font-medium text-slate-700">Anand Saurabh</span>
      <span class="font-thin text-xs text-gray-400"
        >16 November at 08:10 PM</span
      >
    </div>
  </div>
  <div class="flex flex-wrap p-4">
    <p>
      I love this <span class="text-blue-400"> #tailwind</span> library this
      works like a charm. This whole <span class="text-blue-400"> #ui </span> is
      build using <span class="text-blue-400"> #angular</span> &
      <span class="text-blue-400"> #tailwindcss</span>.
    </p>
    <div class="flex gap-1 p-4 border-b flex-grow flex-wrap">
      <div class="flex flex-1 flex-col">
        <div class="flex-1">
          <img src="assets/posts/post-1.avif" class="rounded-md object-cover" />
        </div>
        <div class="flex-1">
          <img src="assets/posts/post-1.avif" class="rounded-md object-cover" />
        </div>
      </div>
      <div class="flex-1">
        <img src="assets/posts/post-4.avif" class="rounded-md" />
      </div>
      <div class="flex-1">
        <img src="assets/posts/post-2.avif" class="rounded-md" />
      </div>
      <div class="flex-1">
        <img src="assets/posts/post-3.avif" class="rounded-md" />
      </div>
    </div>
  </div>
  <div>
    <ul class="flex text-xl items-start justify-around p-3 text-gray-500">
      <li class="hover:text-blue-400 cursor-pointer">
        <i class="fas fa-thumbs-up"></i>
        <span class="ml-4 text-md">22.5k</span>
      </li>
      <li class="hover:text-blue-400 cursor-pointer">
        <i class="fas fa-comment"></i>
        <span class="ml-4 text-md">22.5k</span>
      </li>
      <li class="hover:text-blue-400 cursor-pointer">
        <i class="fas fa-share"></i>
        <span class="ml-4 text-md">22.5k</span>
      </li>
    </ul>
  </div>
</div>
<!--video-->

<div
  class="flex h-auto p-1 flex-col rounded-xl shadow-sm bg-white w-[600px] mt-5"
>
  <div class="border-gray-100 flex gap-3 rounded-lg p-2">
    <div class="h-10 w-10 rounded-full">
      <img
        src="assets/profile/asm.jpg"
        class="h-[100%] w-[100%] rounded-full"
      />
    </div>
    <div class="flex flex-col">
      <span class="font-medium text-slate-700">Anand Saurabh</span>
      <span class="font-thin text-xs text-gray-400"
        >16 November at 08:10 PM</span
      >
    </div>
  </div>
  <div class="flex flex-wrap p-4">
    <div class="w-full">
      <p>I love this song<span class="text-blue-400"> #youtube</span></p>
    </div>
    <div class="flex flex-grow mt-1 p-0">
      <iframe
        class="w-full aspect-video flex-1"
        src="https://www.youtube.com/embed/tgbNymZ7vqY"
      >
      </iframe>
    </div>
  </div>
  <div>
    <ul class="flex text-xl items-start justify-around p-3 text-gray-500">
      <li class="hover:text-blue-400 cursor-pointer">
        <i class="fas fa-thumbs-up"></i>
        <span class="ml-4 text-md">22.5k</span>
      </li>
      <li class="hover:text-blue-400 cursor-pointer">
        <i class="fas fa-comment"></i>
        <span class="ml-4 text-md">22.5k</span>
      </li>
      <li class="hover:text-blue-400 cursor-pointer">
        <i class="fas fa-share"></i>
        <span class="ml-4 text-md">22.5k</span>
      </li>
    </ul>
  </div>
</div>
